<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <link rel="stylesheet" href='/static/style3.css' />
        <title>Home</title>
    <head>
    <body>
    <p><b>Welcome to my page of some of favorite things to cook</b></p>
    <p>Avocado toast + Fried Egg</p>
    <p><img src="{{url_for('static', filename='toast.JPG',width=1, height=2 )}}" align="middle" /></p>
    <p>Japanese Curry</p>
    <p><img src="{{url_for('static', filename='curry.JPG',width=1, height=2)}}" align="middle" /></p>
    <p>Chocolate Chip Pancakes</p>
    <p><img src="{{url_for('static', filename='pancake.JPG',width=1, height=2)}}" align="middle" /></p>
    <p>Quesadilla with fresh tomato salsa</p>
    <p><img src="{{url_for('static', filename='quesa.JPG',width=1, height=2)}}" align="middle" /></p>
    <p>Beet Zucchini Latkes</p>
    <p><img src="{{url_for('static', filename='latkes.JPG',width=1, height=2)}}" align="middle" /></p>
    <p>Pad Thai</p>
    <p><img src="{{url_for('static', filename='padthai.JPG',width=1, height=2)}}" align="middle" /></p>
    <p>Sweet Potato Gnocchi</p>
    <p><img src="{{url_for('static', filename='gnocchi.JPG',width=1, height=2)}}" align="middle" /></p>
    <p>Beignets</p>
    <p><img src="{{url_for('static', filename='beignets.JPG',width=1, height=2)}}" align="middle" /></p>
    <p>Banana Pudding</p>
    <p><img src="{{url_for('static', filename='pudd.JPG',width=1, height=2)}}" align="middle" /></p>
    


    </body>
</html>

